* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color:antiquewhite;
}

.wrapper {
    margin: 3rem;
    
    max-width: 70%;
    display: flex;

    position: relative;
}

.main-container {
    display: flex;
}

.main-container > .slide {
    position: relative;
    border: 1px solid white;

    display: none;
}


.main-container > .slide.active {
    display: block;

    max-width: 100%;
    height: 100%;
  }

.slide {

}

.slide > .info {
    position: absolute;
    right: 10%;
    left: 10%;
    bottom: 0;
    padding: 0.5rem;
    

    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
}

.slide > img {
    width: 100%;
    object-fit: cover;
}

.slides-thumbnails {
    display: flex;
    flex-direction: column;
}

.thumb > img {
    max-width: 100%;
}

.arrow-up{
    position: absolute;

    top: -1.5rem;
    right: 3.5rem;
}

.arrow-down{
    position: absolute;

    bottom: -1.5rem;
    right: 3.5rem;

}
